        <div class="row">
            <div class="col-3">
                <app-grph-doughnut [title]="title1" [labels]="labels1"  ></app-grph-doughnut>
            </div>        
            <div class="col-3">
                <app-grph-doughnut [title]="title2" [labels]="labels2"  ></app-grph-doughnut>
            </div>  
             <div class="col-3">
                <app-grph-doughnut [title]="title3"></app-grph-doughnut>
            </div>        
            <div class="col-3">
                <app-grph-doughnut [title]="title4"></app-grph-doughnut>
            </div>  
        </div>
